<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
  <a class="navbar-brand" href="#">Albums project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Add album <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search for album..." aria-label="Search">
    </form>
  </div>
</div>

<main role="main" class="container">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootstrap snippets bootdey">
    <div class="row">

      <!-- foreach     --> 
      <div *ngFor="let album of albums" class="col-md-4 col-sm-6 col-xs-12">
        <div class="wp-block product">
          <h2 class="product-title"><a href="">{{album?.artist}} - {{album?.title}}</a></h2>
          <p>
            Megjelenés dátuma: {{album?.releaseDate}}
          </p>
          <p>
            Műfaj: {{album?.genre}}
          </p>
          <p>
            értékelés: {{album?.rating}}/10
          </p>

          <div class="wp-block-footer">
            <div class="float-right btn-group btn-group-sm">
              <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
                data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>